		<div class="autoscroll">
		<table class="list">
			<thead><tr>
				<th><%= l(:field_tracker) %></th>
				<th><%= l(:label_project) %></th>
				<th><%= l(:label_tracker_config_allow) %></th>
				<% if is_allowed %>			
					<th colspan="2"></th>
				<% end %>
			</tr></thead>
			<tbody>
		<% for tracker_config in tracker_configs -%>
			<tr class="<%= cycle("odd", "even") %>">
				<td><%= tracker_config.tracker.name.to_s %></td>
				<td><%= tracker_config.project.blank? ? '' : tracker_config.project.name %></td>	
				<td>
					<% if tracker_config.allow_time_log == 0 %>
						<%= l(:general_text_No) %>
					<% end %>
					<% if tracker_config.allow_time_log == 1 %>
						<%= l(:general_text_Yes) %>
					<% end %>
				</td>
				<% if is_allowed %>
	      			<td><%= link_to l(:button_edit), edit_pg_tracker_config_path(tracker_config) %></td>
	      			<td><%= link_to l(:button_delete), pg_tracker_config_path(tracker_config),
	              		method: :delete,
	              		data: { confirm: l(:text_are_you_sure) } %></td>
	            <% end %>

			</tr>
		<% end -%>	
			</tbody>
		</table>