<% @dashboard.view = self %>
<div class="contextual">
    <%= render_action_links %>
</div>
<h2><%= l(:label_plusgantt) %></h2>
<%= form_tag(plusgantt_report_show_path(), :id => 'report_form') do %>
	<fieldset id="filters" class="collapsible collapsed">
	  <legend onclick="toggleFieldset(this);"><%=l(:label_filter_plural)%></legend>
	  <div>
		<%= render :partial => 'filters' %>
	  </div>
	</fieldset>
<% end %>
<div class="autoscroll">
	<table class="list">
		<thead><tr>
			<th>Project</th>
			<th>Presupuesto</th>
			<th>Finaliza</th>
			<th>Avance</th>
			<th>Avance Esperado</th>
			<th>Horas Previstas</th>
			<th>Consumidas</th>
			<th>Ajustadas</th>
			<th>Status Avance</th>
			<th>Status Horas</th>
			<th>% Horas</th>
			<th>Status General</th>
		</tr></thead>
		<tbody>
		<% @list.each do |item| %>
				<tr>
					<td><%= link_to item.project.name, {:controller => "plusgantt_dashboard", :action => "show", :project_id => item.project} %></td>
					<td><%= item.budget %></td>
					<td><%= item.end_date %></td>
					<td><%= item.progress %></td>
					<td><%= item.expected_progress %></td>
					<td><%= item.partial_budget %></td>
					<td><%= item.hours_consumed %></td>
					<td><%= item.hours_adjusted %></td>
					<% css_class = 'pg_project_status ' +  item.item_progress_status_class%>
					<td><%= content_tag(:div, item.progress_status.to_s.html_safe, :class => css_class) %></td>
					<% css_class = 'pg_project_status ' +  item.item_consumed_class%>
					<td><%= content_tag(:div, item.hours_status.to_s.html_safe, :class => css_class) %></td>
					<td><%= item.hours_percent_diff %></td>
					<% css_class = 'pg_project_status ' +  item.status_class%>
					<td><%= content_tag(:div, item.status.to_s.html_safe, :class => css_class) %></td>
				</tr>
		<%end%>
		</tbody>
	</table>
</div>

<% content_for :sidebar do %>
  <%= render :partial => 'issues/sidebar' %>
<% end %>

<% content_for :header_tags do %>
  <%= stylesheet_link_tag "plus_gantt.css", :plugin => "plus_gantt" %>
<% end %>